.cms table.ss-gridfield-table tr td.col-FirstName,
.cms table.ss-gridfield-table tr td.col-LastName,
.cms table.ss-gridfield-table tr td.col-Age,
.cms table.ss-gridfield-table tr td.col-Sex{
    color: black;
}


button[id*=action_reset_ClubMember].action.ss-gridfield-button-reset.nolabel.ss-ui-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.filtered
{
    opacity: 0.8;
}
button[id*=action_reset_ClubMember].action.ss-gridfield-button-reset.nolabel.ss-ui-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.filtered:hover
{
    opacity: 1;
}

#Form_ItemEditForm_action_save,#Form_ItemEditForm_action_doSaveAndQuit,
#Form_ItemEditForm_action_doSave
{
    float:right;
}

#Form_ItemEditForm_action_doDelete
{
    float:left;
}

.cms .ss-gridfield .grid-show-button
{
    margin-bottom: 0;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
}
