
.cms table.ss-gridfield-table tr td {}
.cms table.ss-gridfield-table tr td.col-FirstName,
.cms table.ss-gridfield-table tr td.col-LastName,
/*.cms table.ss-gridfield-table tr td.col-Age,
.cms table.ss-gridfield-table tr td.col-Sex */
{
    /*color: #808080;*/
}

/* Improve visiblity for delete filter icon within GridfieldHeadFilter*/
button[id*=action_reset_ClubMember].action.ss-gridfield-button-reset.nolabel.ss-ui-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.filtered
{
    opacity: 0.8;
}
button[id*=action_reset_ClubMember].action.ss-gridfield-button-reset.nolabel.ss-ui-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.filtered:hover
{
    opacity: 1;
}

/* Move save button to the right */
#Form_ItemEditForm_action_save,#Form_ItemEditForm_action_doSaveAndQuit,
#Form_ItemEditForm_action_doSave
{
    float:right;
}

/* Move delete button to the left */
#Form_ItemEditForm_action_doDelete
{
    float:left;
}

/* Show/hide active */
.cms .ss-gridfield .grid-show-button
{
    margin-bottom: 0;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
}

.cms table.ss-gridfield-table tr td.col-Sex.male
{
    color:#0000CD;
/*font-weight: bold;*/
}
.cms table.ss-gridfield-table tr td.col-Sex.female
{
    color:#C71585;
/*font-weight: bold;*/
}

/*DL, DT, DD TAGS LIST DATA*/
.importSpec dl {}

.importSpec dl dt {

    float:left;
    font-weight:bold;
    margin-right:10px;
}
.importSpec dl dd {}

/* width for gridfield filter header */
.cms table.ss-gridfield-table tr th div.fieldgroup
{
    min-width: 50px;
}

#Form_SearchForm label.left
{
    font-weight: bold;
}
