/**
 * Enroll styles
 */

.error, .form-control.error, .error .btn {
  border-color: red;
  color: red;
}
.error + .btn  {
  border: 1px solid red;
}

form .date.text.width_100 .middleColumn input {
  width: 100%;
}
