/**
 * Clubmaster styles
 */

.clubmaster {
    display:block;
    width:16px;
    height:16px;
    background-image: url(../../images/clubmaster.png);
}

/* Add visual aid for sex */
.cms table.grid-field__table tr td.col-Sex.male,.cms table.grid-field__table tr.male td
{
    background-color: rgba(235,248,255,.5)//#ebf8ff;
}

.cms table.grid-field__table tr.male td.col-Sex
{
    color:#89CFF0;
    text-transform: uppercase;
}

.cms table.grid-field__table tr.female td
{
    background-color:rgba(252,246,250,.5)//#fcf6fa;
}

.cms table.grid-field__table tr.female td.col-Sex
{
    color:#C71585;
    text-transform: uppercase;
}

/* Add visual aid for hover */
.cms table.grid-field__table tr:hover
{
    color:#000;
}

/* Correction for Silverstripe Admin css overwriting styling for bulk editing tools
 * https://github.com/colymba/GridFieldBulkEditingTools
 */
.bulkSelect, .bulkSelectAll{
    position: relative;
}
